* {
    box-sizing: border-box;
    transition: 0.1s ease-out;
}
body {
    display: flex;
    margin: 0;
    align-items: center;
    height: 100vh;
}
.sidebar {
    height: 100%;
    display: flex;
    align-items: center;
    width: 30vw;
    padding: 10px;
    justify-content: space-between;
    gap: 5px;
}

.sidebar-hide-btn {
    height: fit-content;
}
.projects-list {
    height: 100%;
    flex-grow: 2;
}
.project {
    padding: 5px;
    margin-bottom: 10px;
    background-color: aliceblue;
    border: 2px solid gray;
}
.project-header {
    display: flex;
    justify-content: space-between;
}
.project-name {
    display: inline;
}
li {
    list-style: none;
}
.content-area {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.group {
    border: 1px solid black;
    padding: 5px;
    height: 50vh;
    width: 20vw;
}

.details-window{
    z-index: 2;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    height: 70vh;
    width: 70vw;

    background-color: rgb(196, 207, 192);
    border: 2px solid black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.close-window-btn, .close-addWindow-btn {
    width: fit-content;
    position: relative;
    left: 98%;
}
.window-buttons {
    display: flex;
    justify-content: space-between;
}
.hide {
    opacity: 0;
    pointer-events: none;
}

.window-todo-item {
    display: flex;
}



.add-window{
    z-index: 2;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    height: 70vh;
    width: 70vw;

    background-color: rgb(192, 0, 0);
    border: 2px solid black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}